[Unit]
Description=Jool NAT64 Configuration Service
After=network.target

[Service]
Type=oneshot
ExecStartPre=/sbin/modprobe jool
ExecStart=/usr/local/bin/jool --file /etc/jool.conf

[Install]
WantedBy=multi-user.target