[Unit]
Description=Jool SIIT Configuration Service
After=network.target

[Service]
Type=oneshot
ExecStartPre=/sbin/modprobe jool_siit
ExecStart=/usr/local/bin/jool_siit --file /etc/jool_siit.conf

[Install]
WantedBy=multi-user.target